<footer class="row">
  <div class="col-sm-12 col-md-6">
    <div class="footer-left">
      <div class="txt">
        <a href="http://www.puc-rio.br">
          <img alt="PUC" src="{{ site.baseurl }}/assets/img/Brasao_PUC_2023.png" width="120" height="120">
        </a>
        <div class="footer-txt">
          <h4 class="footer-link"><a href="http://www.econ.puc-rio.br">Departamento de Economia</a></h4>
          <h4>Pontifícia Universidade Católica do Rio de Janeiro</h4>
          <br />
          <p>
            Tel.: <a href="tel:+552135271078" class="tel-link">(21) 35271078</a> <br />
            Rua Marquês de São Vicente, 225, sala 210F - Gávea<br />
            22451-900 - Rio de Janeiro, RJ
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="footer-right">
      <div class="txt">
        <a href="http://www.finep.gov.br" target="_blank"> <img alt="Finep" src="{{ site.baseurl }}/assets/img/logo-finep.png"> </a>
      </div>
      <div class="txt">
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
      </div>
      <div class="txt">
        <a href="http://www.cnpq.br" target="_blank"> <img src="{{ site.baseurl }}/assets/img/cnpq.jpg"> </a>
      </div>
    </div>
  </div>
</footer>
