<footer class="row">
  <!-- Coluna esquerda -->
  <div class="col-sm-12 col-md-6">
    <div class="footer-left">
      <div class="txt">
        <a href="http://www.puc-rio.br">
          <img alt="PUC" src="{{ site.baseurl }}/assets/img/Brasao_PUC_2023.png" width="55" height="100">
        </a>
        <div class="footer-txt">
          <h4 class="footer-link"><a href="http://www.econ.puc-rio.br">Departamento de Economia</a></h4>
          <h4>Pontifícia Universidade Católica do Rio de Janeiro</h4>
          <br />
          <p>
            Tel.: <a href="tel:+552135271078" class="tel-link">+552135271078</a> <br />
            Rua Marquês de São Vicente, 225, sala 210F - Gávea<br />
            22451-900 - Rio de Janeiro, RJ
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Coluna direita (Finep, CNPq e redes sociais) -->
  <div class="col-sm-12 col-md-6">
    <div class="footer-right d-flex align-items-center justify-content-md-end" style="gap: 25px; flex-wrap: wrap;">
      <!-- Finep -->
      <div class="txt">
        <a href="http://www.finep.gov.br" target="_blank">
          <img alt="Finep" src="{{ site.baseurl }}/assets/img/logo-finep.png">
        </a>
      </div>

      <!-- CNPq -->
      <div class="txt">
        <a href="http://www.cnpq.br" target="_blank">
          <img src="{{ site.baseurl }}/assets/img/cnpq2.png"
            alt="CNPq"
            width="163"
            height="50">
        </a>
      </div>

      <!-- Redes sociais -->
      <nav class="txt social-links d-flex" aria-label="Redes sociais" style="gap: 15px;">
        <a href="https://www.linkedin.com/company/data-zoom/" target="_blank" rel="noopener">
          <img
            alt="LinkedIn"
            src="{{ site.baseurl }}/assets/img/Linkedin3.png"
            class="social-icon"
            width="50"
            height="50"
          >
        </a>
        <a href="https://www.youtube.com/channel/UC1kYkpfiYSvL2-oTYPMMkug" target="_blank" rel="noopener">
          <img
            alt="YouTube"
            src="{{ site.baseurl }}/assets/img/Youtube.png"
            class="social-icon"
            width="60"
            height="40"
          >
        </a>
      </nav>
    </div>
  </div>
</footer>
