<header class="row">
  <a href="index.html"><img id="logo" alt="datazoom" src="assets/img/logo.jpg"></a>
</header>
<div class="row">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class=" row navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html"><span class="menu-symbol">[</span> início <span class="menu-symbol">]</span></a></li>
          <li><a href="dz_amazonia.html"><span class="menu-symbol">[</span> data zoom amazônia <span class="menu-symbol">]</span></a></li>
          <li><a href="dz_stata.html"><span class="menu-symbol">[</span> data zoom stata <span class="menu-symbol">]</span></a></li>
          <li><a href="dz_R.html"><span class="menu-symbol">[</span> data zoom R <span class="menu-symbol">]</span></a></li>
          <li><a href="equipe.html"><span class="menu-symbol">[</span> equipe <span class="menu-symbol">]</span></a></li>
          <li><a href="contato.html"><span class="menu-symbol">[</span> contato <span class="menu-symbol">]</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://www.econ.puc-rio.br/datazoom/english/index.html"><span class="menu-symbol">[</span> english version <span class="menu-symbol">]</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
