<header class="row">
  <img id="logo" height = 100px alt="datazoom" src="{{ site.baseurl }}/assets/img/logo_branco_horizontal.png" class = "center-img">
  <script>
document.addEventListener('DOMContentLoaded', function() {
    // Get current page filename
    const currentPage = window.location.pathname.split('/').pop() || 'index.html';
    
    // Remove active class from all menu items
    const menuItems = document.querySelectorAll('.menu-item');
    menuItems.forEach(item => item.classList.remove('active'));
    
    // Add active class to current page link
    const currentLink = document.querySelector(`a[href="${currentPage}"]`);
    if (currentLink) {
        currentLink.classList.add('active');
    }
});
  </script>
</header>
<div class="row">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class=" row navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/index.html" class="menu-item active">home</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/dz_amazonia.html" class="menu-item">DZ Amazônia</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/dz_stata.html" class="menu-item">DZ Stata</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/dz_r.html" class="menu-item">DZ R</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/equipe.html" class="menu-item">team</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/citacao.html" class="menu-item">cite us</a></li>  
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/contato.html" class="menu-item">contact</a></li>
        </ul>
        <ul class="nav navbar-nav menu-right">
	  <li><a href="{{ site.baseurl }}/pt{{ page.url | remove_first: '/en' }}" class="menu-item"> português </a> </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
