@charset "UTF-8";
/* CSS Document */


h3{
	margin-top:10px;
}

.contato-item{
	margin-bottom:30px;
}

.contato-item p{
	margin-bottom:0;
	padding-bottom:5px;
}

.map{
	min-height:360px;
	margin-bottom:30px;
}