<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Início - Data Zoom</title>
    <link href="{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/lists.css" rel="stylesheet">
    <link rel=”shortcut icon” href=”{{ site.baseurl }}/assets/img/favicon.jpg” type=”image/x-icon” />
  </head>
<body>
  <div class="container">
    {% if page.lang == "pt" %}
      {% include header-pt.html %}
    {% elsif page.lang == "en" %}
      {% include header-en.html %}
    {% endif %}
    <div class="content">
      {{ content }}
    </div>
    {% include footer.html %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.js"></script>
</body>
</html>
